// -----------------------------------------------------------------------------
//  Variables
// -----------------------------------------------------------------------------
// Colours
$grey1: #181A1E;
$grey2: #282D33;
$grey3: #404752;
$grey4: #4A535E;
$grey5: #BED4F2;

// Fonts
@mixin source-sans-pro($weight) {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $weight;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------
// Main
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #000000;
    background-color: #ffffff;

    margin-bottom: 5em;
}

// Navigation
#banner {
    background: $grey2;
    padding: 4.0em 0em 1.0em 0em;
    positiion: relative;
    z-index: 2;
}

.navbar {
    
}

.navbar-inverse {
    background: $grey2;
    border-color: $grey2;
}

.navbar-nav {
    text-align: center;
    width: 100%;
    > li {
        float: none;
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
        > a {
            padding: 0px 0px;
            @include source-sans-pro(700);
            color: white;
        }
    }
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-brand {
    width: 100%;
    text-align: center;

    @include source-sans-pro(700);
    font-size: 2.6em;
    color: white;
    text-transform: uppercase;
}
.navbar-inverse .navbar-brand {
    color: white;
}

@media (min-width:768px){
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

.full-width {
    width: 100%
}

// Article
.article {
    
}

.article-title {
    color: $grey2;
    @include source-sans-pro(700);
    font-size: 2.0em;
    text-align: left;
}

.article-meta {
    color: $grey2;
    @include source-sans-pro(300);

    padding-right: 3em;
    margin-top: 0.5em;
    text-align: left;

    > span {
        display: inline-block;
        border-left: 1px solid $grey3;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }


}

.article-meta-date {
    border-left: 0px solid $grey3 !important;
    padding-left: 0px !important;
}

.article-meta-category {
    
}

.article-meta-tags {
    
}

.article-summary {
    color: $grey2;
    @include source-sans-pro(400);
    text-align: left;
    margin-bottom: 2.2em;
}

.article-body {
    color: $grey2;
    @include source-sans-pro(400);
    text-align: left;
    margin-bottom: 2.2em;
}

.article-divider {
    
}

.article-divider-line {
    width: 100%;
    border-bottom: 1px solid #6B6F7A;
}

.article-divider-icon {
    color: #6B6F7A;
    position: relative;
    display: block;
    font-size: 0.8em;
    margin-top: -1.3em;
}

.page {
    
}

.page-title {
    color: $grey2;
    @include source-sans-pro(700);
    font-size: 2.5em;
    text-align: left;
}

.page-body {
    color: $grey2;
    @include source-sans-pro(400);
    text-align: left;
    margin-bottom: 2.2em;
}

// Footer
.copyright-notice {
    @include source-sans-pro(300);
    color: $grey2;
    text-align: center;
}

.footer-social-media {
    text-align: center;
    width: 100%;
    padding-left: 0;
    > li {
        float: none;
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
        > a {
            padding: 0px 0px;
            color: $grey2;
        }
    }
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5em;
}