                    <div class="article-divider">
                        <div class="article-divider-line">
                        </div>
                        <div class="article-divider-icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa
                                          {% if article.icon %}
                                          <!-- article icon>
                                          {{ article.icon }}
                                          {% elif ARTICLE_TYPE_ICONS and article.type in ARTICLE_TYPE_ICONS %}
                                          <!-- article type -->
                                          {{ ARTICLE_TYPE_ICONS[article.type] }}
                                          {% elif DEFAULT_ICON %}
                                          <!-- default specified>
                                          {{ DEFAULT_ICON }}
                                          {% else  %}
                                          <!-- default hardcoded -->
                                          fa-coffee
                                          {% endif %}
                                          fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </div>
