{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <article class="article">
                    {% if article.description %}
                    <meta name="description" content="{{article.description}}" />
                    {% endif %}
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <h1 class="article-title">
                            {% block title %}{{ article.title }}{% endblock %}
                        </h1>
                    </a>
                    {% block meta %}
                    <div class="article-meta">
                        <span class="article-meta-date">
                            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                        </span>
                        <span class="article-meta-category">
                            <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a>
                        </span>
                        <span class="article-meta-tags">
                            {% for tag in article.tags %}
                            <a href="{{ SITEURL }}/tags/{{ tag }}.html">{{ tag }}</a>
                            {% endfor %}
                        </span>
                    </div>
                    {% endblock %}
                    {% block article_content %}
                    <div class="article-body">
                        <p>{{ article.content }}</p>
                    </div>
                    {% endblock %}
                    {% include 'elements/article_divider.html' %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}
{#
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
	{% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
	{% endif %}
    {% if article.authors %}
    <address class="vcard author">
      By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
#}
