{# Footer #}
<div class="container">
    {% if SOCIAL %}
    <ul class="footer-social-media" >
        {% for name, url in SOCIAL %}
        <li>
            <a href="{{ url }}">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    {% if name == 'youtube' %}
                    <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                    {% else %}
                    <i class="fa fa-{{ name }} fa-stack-1x fa-inverse"></i>
                    {% endif %}
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <p class="copyright-notice">Copyright © {{ COPYRIGHT }}</p>
</div>
