{# Footer #}
<div class="container">
    {% block social %}
    {% if SOCIAL %}
    <ul class="footer-social-media">
        {% for social_item in SOCIAL %}
        <li>
            <!-- {{ social_item[0] }} -->
            <a href="{{ social_item[1] }}">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa {{ social_item[2] }} fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
    {% block copyright %}
    <p class="copyright-notice">Copyright © Maarten Tegelaers 2016</p>
    {% endblock %}
</div>
