{# Index #}
{% extends "base.html" %}

{% import 'components/art.html' as art %}

{% block content %}

{% block content_title %}
{% endblock %}

{# Article list #}
<div class="container" >
    <div class="row justify-content-center">
        <div class="col-8">
            {% for article in articles_page.object_list %}
            {{ art.render(article, preview=True) }}
            {% endfor %}
        </div>
    </div>
</div>

{# Pagination #}
{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}
{% endblock content %}


