{#-- Footer --#}
<div class="container">
    {% if SOCIAL %}
    <ul class="footer-social-media" >
        {% for name, url in SOCIAL %}
        <li>
            <a href="{{ url }}">
                <span class="fa-layers fa-fw fa-3x">
                    <i class="fas fa-circle"></i>
                    {% if name == 'linkedin' %}
                    <i class="fa-inverse fab fa-linkedin-in" data-fa-transform="shrink-5"></i>
                    {% else %}
                    <i class="fa-inverse fab fa-{{ name }}" data-fa-transform="shrink-5"></i>
                    {% endif %}
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <p class="copyright-notice">Copyright © {{ COPYRIGHT }}</p>
</div>
