{#-- Navigation --#}
{% macro render(brand="Monthy's Blog", link="#") -%}
<nav id="site-navigation" class="navbar navbar-inverse" role="navigation">
    <div class="container" >
        <div class="navbar-header full-width" >
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#blog-navbar">
                <span class="sr-only" >Toggle navigation </span>
                <span class="icon-bar" ></span>
                <span class="icon-bar" ></span>
                <span class="icon-bar" ></span>
            </button>

            <a class="navbar-logo" href="{{ link }}">
                <img src="./theme/img/header.png" alt={{ brand }}>
            </a>
            {# --
            <a class="navbar-brand"
               href="{{ link }}">
                {{ brand }}
            </a>
            -- #}
        </div>

        {% if DISPLAY_PAGES_ON_MENU %}
        <div class="collapse navbar-collapse" id="#blog-navbar">
            <ul class="nav navbar-nav">
                <li {%if 'index' == page %} class="active" {% endif %}>
                    <a href="{{ SITEURL }}/index.html" >
                        Blog
                    </a>
                </li>
                {% for p in pages %}
                <li {%if 'index' == page %} class="active" {% endif %}>
                    <a href="{{ SITEURL }}/{{ p.url }}">
                        {{ p.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
{%- endmacro %}
